<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>
<form action="#" th:action="@{/api/v1/signup}" th:object="${userDto}" method="post" enctype="multipart/form-data">
    <div>
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" th:field="*{firstname}" />
    </div>
    <div>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" th:field="*{lastname}" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}" />
    </div>
    <div>
        <label for="file">Upload File:</label>
        <input type="file" id="file" name="file" />
    </div>
    <button type="submit">Sign Up</button>
</form>
</body>
</html>
